html,
body {
  height: 100%;
  box-sizing: border-box;
}

#root {
  height: 100%;
}

nav {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.home {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  text-align: center;
  width: 250px;
  border: 4px ridge black;
  border-radius: 25px;
}

.createForm {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

textarea,
input[type="text"] {
  field-sizing: content;
  max-width: 250px;
}
